<h1 name="page header">New User</h1>

<a class='button' href=<%new_session_url%>>Go to sign-in </a>
<input type="hidden" name="authenticity_token" value="<% form_authenticity_token%>">



<form class="for" action="<% users_url %>" method="POST">

<p>
    <label for="new-user-email">Email</label>
    <input id="new-user-email" type="text" name="user[email]">
</p>

<p>
    <label for="new-user-password">Password</label>
    <input id="new-user-password" type= "text" name="user[password]">
</p>

<input type="submit" value="Submit">

